@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);


html {
    box-sizing: border-box;
  }
a {
    color: inherit;
    text-decoration: none

}
*, *::before, *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    display: flex;
    flex-direction: column;
    // font-family: 'Fira Code', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient( orangered, orange, orangered );
    ;
}
.nav {
    left: -1px;
    margin: auto;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 23;
    opacity: 0.9;
    margin-bottom: 100px;
    border: 3px solid orangered;
    color: rgb(255, 60, 0);
    background-color: rgb(0, 0, 0);
     .social {
         display: flex;
         align-items: center;
         justify-content:flex-end;
         justify-self: flex-end;
         margin-right: 20px;
         transform: scale(1);
         gap: 20px;
         i {
             padding: 5px;
             transform: scale(1);
             cursor: pointer;
             transition: transform 0.2s ease-in, color 0.3s ease-in;
             font-size: 1.5rem;
             @media (max-width:700px) {
                 margin:0 5px;
             }
         }
         i:hover {
             transform: scale(1.2);
             color: rgba(255, 0, 0, 0.918);
         }
     }
    // border-radius: 0 20px 0 20px;
    .navbar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 5px;
        &__item {
            margin: 0;
            list-style-type: none
        }
    }
}

.main {


    .hero {
        font-weight: 900;
        margin: 150px 100px;
        text-align: center;
        // border-bottom: 2px solid black;
        padding:100px 100px 0 100px;
        font-size: 2.3rem;
        @media (max-width:1000px){
            margin: 150px auto;
            font-size: 1.4rem;
            padding: 0;
        }
        

        // background-image: linear-gradient(rgb(255, 124, 2),orange,  rgb(255, 255, 255));
    }
    .slide-in {
        opacity: 0;
        transition: all .5s;
      }
      .align-left.slide-in {
        transform: translateX(-30%) scale(0.95);
      }
      
      .align-right.slide-in {
        transform: translateX(30%) scale(0.95);
      }
      .slide-in.active {
        opacity: 1;
        transform: translateX(0%) scale(1);
      }
    &__row {
        background-color: rgb(0, 0, 0);
        color: orangered;
        display: flex;
        flex-wrap: wrap;
        margin: 250px 0;
        box-shadow: 0 4px 16px -2px gray;
        // mozna dodac padding dla duzych monitorow
        
            @media (max-width:1000px){
                flex-direction: column;
                align-items: center;
                margin: 50px auto;
                padding: 0;
            }
    
        img {
            width: 40%;
            min-width: 200px;
        }
        &__content {
            
            display: flex;
            flex-direction: column;
            text-align: left;
            margin: auto;
            padding: 20px 100px;
            width: 60%;
            font-size: 1.8rem;
            @media (max-width:1000px){
                margin: auto;
                padding: 0;
                font-size: 1.3rem;
                text-align: center;

            }
        }
        &__i {
            margin: auto;
            i {
                color: orangered;
                text-shadow: 9px 9px 1px rgba(255, 0, 0, 0.397);
    
                    padding: 60px;
                    opacity: 0.9;
                    @media (max-width:1000px){
                        margin: auto;
                        padding: 5px;
        
                    }
        
                }
        }
    }
}






//hamburger 


.sidebarnav {
    z-index: 999;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: fixed;
    border:33px solid rgba(255, 68, 0, 0.685);
    width: 500px;
    height: 500px;
    font-size: 0.8rem;
    transform: translateY(-1000px);
    transition:transform 0.5s ease-in, background-color 1s ease-in;
    @media (max-width:1000px) {
        margin-top:105px;
        width: 250px;
        height: 250px;
    }
    a, i {
        margin-bottom: 5px;
        text-align: center;
        text-decoration: none;
        // display: flex;
        // justify-content: center;
        // padding: 0;
        font-size: 1.8em;
        color: white;
        @media(max-width:700px) {
            color: red($color: #000000);
        }
        &:hover {
            color: orangered;
        }
    }
}
.sidebarnav--active {
    background-color: rgba(0, 0, 0, 0.836);
    transform: scale(0.9) translateY(150px);
    @media (max-width:1000px) {
        transform: scale(0.9) translateY(-30px);

    }



}



.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border:0;
    margin: 0
}
.hamburger__box {
    border:1px solid orangered;
    padding: 5px;
    width:40px;
    height: 24px;
    display: inline-block;
    position: relative;
  
}
@mixin hamburger-line {
    width:100%;
    height: 5px;
    position: absolute;
    background-color:orangered
}
.hamburger__inner {
    @include hamburger-line;
    
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s .1s ease-in-out
}

.hamburger__inner::before,
.hamburger__inner::after
 {
    @include hamburger-line;
    content: '';
    left: 0;
    transition: transform 0.3s ease-in-out
}

.hamburger__inner::after {

    top: 10px;
}

.hamburger__inner::before {

    top: -10px;
}

.hamburger--active  .hamburger__inner {
    background-color: transparent
}
.hamburger--active .hamburger__inner::before {
     transform:translateY(10px)  rotate(45deg) 

}
.hamburger--active .hamburger__inner::after{
    transform:translateY(-10px) rotate(-45deg) 

}
.hamburger, .nav {
transition: transform 0.3s 0.1s ease-in-out

}
.hamburger--active {
    transform: translate(0px)
}



  .gallery {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    @media (max-width:1000px) {
       margin: 0;
       padding: 0;

    }
}
      .card {
        padding: 5px;
        transform: scale(1);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.397);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        transition: box-shadow 300ms, transform 300ms;
        img {
            width: 100%;
            transition: all 0.3s ease-in;
            opacity: 0.5;
            @media (max-width:700px) {
                margin: 0;
                padding: 0;
                opacity: 1;
         
             }
        }
    }
    
    .card:hover{
        transform: scale(1.6);
        img {
            z-index: 999;
            opacity: 1;
        }
        cursor: pointer;
        box-shadow: 0 0 100px 10px  orangered;
        z-index: 1   ;
        @media (max-width:1000px) {
            transform: none;
    
        }

    }


    footer {
        height: 100vh;
        margin-top: 200px;
        background-color: rgba(0, 0, 0, 0.973);
        color: orangered;
    }