@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);
html {
  box-sizing: border-box;
}

a {
  color: inherit;
  width: 100%;
  text-decoration: none;
}

*, *::before, *::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Fira Code", sans-serif;
  background-image: linear-gradient(rgba(255, 123, 0, 0.637), rgba(255, 166, 0, 0.719), rgba(255, 255, 0, 0.5));
}

.nav {
  border: 2px solid black;
  display: flex;
  margin-bottom: 100px;
  background-color: #ffa600;
}
.nav .navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px;
}
.nav .navbar__item {
  margin: 0;
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main .hero {
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  border-top: 3px solid black;
  padding: 100px 100px 0 100px;
  background-color: #fff;
}
.main__row {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  box-shadow: 0 4px 16px -2px gray;
}
.main__row img {
  max-width: 40%;
  min-width: 300px;
}
.main__row__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  padding: 20px 100px;
  width: 60%;
  font-size: 1.6rem;
}
.main__row__i {
  margin: auto;
}
.main__row__i i {
  color: #1f9900;
  text-shadow: 9px 9px 1px rgba(0, 0, 0, 0.753);
  padding: 60px;
  opacity: 0.9;
}

.sidebarnav {
  z-index: 999;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 300px;
  margin-top: 300px;
  transform: translateY(-1000px);
  border-radius: 100%;
  transition: transform 0.5s ease-in, background-color 1s ease-in;
}
@media (max-width: 800px) {
  .sidebarnav {
    margin-top: 35px;
  }
}
.sidebarnav a, .sidebarnav i {
  text-decoration: none;
  font-size: 2em;
  color: white;
  margin: 10px;
}
@media (max-width: 700px) {
  .sidebarnav a, .sidebarnav i {
    margin: 2px;
    font-size: 1.2em;
    color: 0;
  }
}
.sidebarnav a:hover, .sidebarnav i:hover {
  color: #ff9900;
}

.sidebarnav--active {
  transform: translateY(-50px);
  background-color: rgba(0, 0, 0, 0.836);
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: black;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s 0.1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: black;
  content: "";
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger, .nav {
  transition: transform 0.3s 0.1s ease-in-out;
}

.hamburger--active {
  transform: translate(0px);
}

/*# sourceMappingURL=/style.97fcb138.css.map */